.apartmentTag {
    border-radius: .4rem;
    color: #fff;
    background: #FF6060;
    font-weight: 700;
    margin: .25rem 1rem .25rem 0;
    padding: .25rem 2rem;
}


@media screen and (max-width: 650px) {
    .apartmentTag {
        font-size: .625rem;
        font-weight: 500;
        margin: .25rem .5rem .25rem 0;
        padding: .25rem 1rem;
    }
}